@import "../../global-styles/variables.module.scss";

.app-gray {
  color: $appGrayTextColor;
  font-weight: bold;
}

.chart-filters {
  display: flex;
  justify-content: space-between;

  .chart-filter {
    padding: 18px  initial;
    label {
      padding: 10px initial
    }
  }
}
